* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: NanumGothic, sans-serif;
}

a {
  color: $colorDarkGrey;
  text-decoration: none;

  &:hover {
    color: $colorDarkGrey;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

h2 {
  font-family: NanumGothic, sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0;
}

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-family: NanumGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-family: NanumGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-family: NanumGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-family: NanumGothic, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  transition: all .3s linear;
}

input,
select,
textarea,
label {
  margin: 0;
  padding: 0;
  font-size: 14px;
  transition: all .3s linear;
}

input,
select {
  color: $colorGrey;
}


input:disabled {
  background-color: #fff;
}


// === REQUIRED INPUT === //
.required-input {
  border-color: $colorRed !important;
  color: $colorRed !important;
  transition: all .3s linear;
}


// === INPUT CHECKBOX === //
.inp-checkbox {
  display: none;
}

.inp-checkbox + label.head:before {
  margin-left: 15px;
}

.inp-checkbox + label:before {
  content: "\2713";
  display: inline-block;
  position: relative;
  top: -1px;
  color: transparent;
  background-color: #fff;
  border: 1px solid $colorLightRed;
  border-radius: 50%;
  font-size: 14px;
  line-height: 17px;
  height: 17px;
  width: 17px;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.inp-checkbox:checked + label:before {
  color: #fff;
  background-color: $colorLightRed;
  border: 1px solid transparent;
}


// === BUTTON DISABLED === //
.btn-disabled {
  color: #fff !important;
  background-color: $colorGrey !important;
  transition: all .3s linear;
  cursor: default !important;
  box-shadow: none !important;
}


// === FORM SUCCESS === //
.message-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  visibility: hidden;
  opacity: 0;
  transition: all .4s linear;
  z-index: 99;

  &__modal {
    display: inline-block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 60px;
    width: auto;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 0 10px $colorGrey;
    z-index: 100;
  }

  &__modal-success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }

  &__modal-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &.fadeIn {
    padding-top: 10%;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: all .4s linear;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    opacity: .5;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      position: absolute;
      top: 6px;
      left: 0;
      background-color: $colorDarkGrey;
      transform: rotate(-45deg);
      border: none;
      border-radius: 2px;
    }

    &:after {
      content: '';
      display: block;
      width: 15px;
      height: 1px;
      position: absolute;
      top: 6px;
      left: 0;
      background-color: $colorDarkGrey;
      transform: rotate(45deg);
      border: none;
      border-radius: 2px;
    }
  }
}


// === IN DEVELOPING === //
.in-developing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 2;

  .text {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $colorLightRed;
    background-color: #fff;
    padding: 5px 50px;
    color: $colorLightRed;
    font-weight: 600;
    font-size: 24px;
  }
}