// ============== COLOUR ============ //
$colorDarkBlue: #052138;
$colorLightGrey: #d8d8d8;
$colorGrey: #666666;
$colorDarkGrey: #272829;
$colorRed: #d0021b;
$colorLightRed: #bc515c;
//$colorLighterRed: #bc515c;